/* 
 * ===================================
 * Header.
 * ===================================
 */

.header {
  background: white;
  filter: drop-shadow(0 16px 24px rgba(1,163,235,.05)) drop-shadow(0 2px 6px rgba(1,163,235,.04)) drop-shadow(0 0 1px rgba(0,0,0,.02));
  padding: 1.5rem 2rem;
  position: relative;
  z-index: 2;
}