/* ====================================== */ 
/* List */ 
/* ====================================== */

.list {
  list-style-type: disc;
  margin-left: 1.2em;
} 

.list li + li {
  margin-top: .5rem;
}